<div class="container">
  <div class="sidenav">
    <h2>Your Account</h2>
    <a href="#" class="sidenav-link">Overview</a>
    <a href="#" class="sidenav-link active">Orders</a>
    <a href="#" class="sidenav-link">Wishlist</a>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-left">
        <p class="light">ORDER # 402-76948</p>
    </div>
    <div class="col-right">
      <p class="light">Placed on: 3 June 2022</p>
    </div>
    </div>
    <div class="row">
      <div class="col-left">
        <p>Total: AED 24.98</p>
        <p>You Saved AED 2.50</p>
        <p><i class="fa-solid fa-circle-check"></i> Deliver all together (estimated by 10 Jun 2022)</p>
      </div>
      <div class="col-right">
        <button>Get invoice</button>
        <a href="#">Cancel order</a>
      </div>
    </div>
    <div class="list">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row-image-left">
            <div class="image">
              <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/pen-ballpoint-MxBqre2-600.jpg" alt="Image 1">
            </div>
            <div class="row">
              <div class="group-col-left">
                <p>Brand Name -product name, its specifications and all other..</p>
                <p>AED 3.80 <span>0.00</span></p>
                <p>QTY: 2</p>
              </div>
              <div class="group-col-right">
                <p>Total: AED 3.80</p>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="secondary-text">
              Arrived on 3 Jun 2022 <i class="fa-solid fa-chevron-down"></i>
            </p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row-image-left">
            <div class="image">
              <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/pen-ballpoint-MxBqre2-600.jpg" alt="Image 1">
            </div>
            <div class="row">
              <div class="group-col-left">
                <p>Brand Name -product name, its specifications and all other..</p>
                <p>AED 3.80 <span>0.00</span></p>
                <p>QTY: 2</p>
              </div>
              <div class="group-col-right">
                <p>Total: AED 3.80</p>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="secondary-text">
              Arrived on 4 Jun 2022 <i class="fa-solid fa-chevron-up"></i>
            </p>
          </div>
          <div class="row-track">
            <p>Track item</p>
            <p>SKU: 8901425031926</p>
          </div>
          <div class="row-deliver">
            <div class="col-left-deliver">
              <p>Deliver Address</p>
              <p>Robert Ford | 7877646542</p>
              <p>5855 Amboy St, Dearborn Heights, Michigan(MI), 48127</p>
            </div>
          </div>
          <hr>
          <div class="row-update">
            <div class="col-left-update">
              <p>Updates sent to</p>
              <p>7877646542</p>
              <p>robertford@gmail.com</p>
            </div>
            <a href="#">Cancel Item</a>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row-image-left">
            <div class="image">
              <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/pen-ballpoint-MxBqre2-600.jpg" alt="Image 1">
            </div>
            <div class="row">
              <div class="group-col-left">
                <p>Brand Name -product name, its specifications and all other..</p>
                <p>AED 3.80 <span>0.00</span></p>
                <p>QTY: 2</p>
              </div>
              <div class="group-col-right">
                <p>Total: AED 3.80</p>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="secondary-text">
              Arrived on 4 Jun 2022 <i class="fa-solid fa-chevron-down"></i>
            </p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row-image-left">
            <div class="image">
              <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/pen-ballpoint-MxBqre2-600.jpg" alt="Image 1">
            </div>
            <div class="row">
              <div class="group-col-left">
                <p>Brand Name -product name, its specifications and all other..</p>
                <p>AED 3.80 <span>0.00</span></p>
                <p>QTY: 2</p>
              </div>
              <div class="group-col-right">
                <p>Total: AED 3.80</p>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="secondary-text">
              Arrives by 10 Jun 2022 <i class="fa-solid fa-chevron-down"></i>
            </p>
          </div>
        </li>
      </ul>
      <div class="page-number">
        <a href="#"><i style="color: var(--light-color);" class="fa-solid fa-chevron-left"></i></a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><i style="color: var(--primary-color);" class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>