<div class="container">
    <div class="sidenav">
        <div class="title">
            Your Account
        </div>
        <a class="side-nav-link">Overview</a>
        <a style="color: rgb(101, 101, 207);" class="side-nav-link">Orders</a>
        <a class="side-nav-link">Wishlist</a>
    </div>
    <div class="main-content">
        <h3>All orders from anytime</h3>
        <div class="list">
            <h3>Ongoing</h3>
            <ul class="list-group-item">
                <li class="list-item">
                    <div class="row">
                        <div class="row">
                            <div class="row-title">
                                <div class="row-title-content">
                                    <p>ORDER PLACED</p>
                                    <p>5 Jun 2022</p>
                                </div>
                                <div class="row-title-content">
                                    <p>SHIP TO - Robert Ford</p>
                                    <p>5855, Amboy street...</p>
                                </div>
                                <div class="row-title-content">
                                    <p>ORDER</p>
                                    <p># 402-76948</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="row-content">
                                <div class="row-content-description">
                                    <div class="images">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 1">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 2">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 3">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 4">
                                    </div>
                                    <div class="description">
                                        <p>Item Total</p>
                                        <p>4 Items</p>
                                    </div>
                                </div>
                                <div class="row-content-totals">
                                    <p>Total</p>
                                    <p>AED 22.22</p>
                                    <a href="#">Track Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </div>
        <div class="list">
            <h3>Delivered</h3>
            <hr>
            <ul class="list-group-item">
                <li class="list-item">
                    <div class="row">
                        <div class="row">
                            <div class="row-title">
                                <div class="row-title-content">
                                    <p>ORDER PLACED</p>
                                    <p>5 Jun 2022</p>
                                </div>
                                <div class="row-title-content">
                                    <p>SHIP TO - Robert Ford</p>
                                    <p>5855, Amboy street...</p>
                                </div>
                                <div class="row-title-content">
                                    <p>ORDER</p>
                                    <p># 402-76948</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-content">
                                <div class="row-content-description">
                                    <div class="images">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 1">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 2">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 3">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 4">
                                    </div>
                                    <div class="description">
                                        <p>Item Total</p>
                                        <p>4 Items</p>
                                    </div>
                                </div>
                                <div class="row-content-totals">
                                    <p>Total</p>
                                    <p>AED 22.22</p>
                                    <a href="#">Track Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li class="list-item">
                    <div class="row">
                        <div class="row">
                            <div class="row-title">
                                <div class="row-title-content">
                                    <p>ORDER PLACED</p>
                                    <p>5 Jun 2022</p>
                                </div>
                                <div class="row-title-content">
                                    <p>SHIP TO - Robert Ford</p>
                                    <p>5855, Amboy street...</p>
                                </div>
                                <div class="row-title-content">
                                    <p>ORDER</p>
                                    <p># 402-76948</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-content">
                                <div class="row-content-description">
                                    <div class="images">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 1">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 2">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 3">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 4">
                                    </div>
                                    <div class="description">
                                        <p>Item Total</p>
                                        <p>4 Items</p>
                                    </div>
                                </div>
                                <div class="row-content-totals">
                                    <p>Total</p>
                                    <p>AED 22.22</p>
                                    <a href="#">Track Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li class="list-item">
                    <div class="row">
                        <div class="row">
                            <div class="row-title">
                                <div class="row-title-content">
                                    <p>ORDER PLACED</p>
                                    <p>5 Jun 2022</p>
                                </div>
                                <div class="row-title-content">
                                    <p>SHIP TO - Robert Ford</p>
                                    <p>5855, Amboy street...</p>
                                </div>
                                <div class="row-title-content">
                                    <p>ORDER</p>
                                    <p># 402-76948</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-content">
                                <div class="row-content-description">
                                    <div class="images">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 1">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 2">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 3">
                                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Image 4">
                                    </div>
                                    <div class="description">
                                        <p>Item Total</p>
                                        <p>4 Items</p>
                                    </div>
                                </div>
                                <div class="row-content-totals">
                                    <p>Total</p>
                                    <p>AED 22.22</p>
                                    <a href="#">Track Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </div>
        <div class="page-number">
            <a href="" style="display: none;"><i class="fa-solid fa-chevron-left"></i></a>
            <a href="" class="active">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href=""><i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
</div>